main.noticias {

    section {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding-bottom: 30px;
        padding-top: 20px;

        img {
            padding-bottom: 20px;
            padding-top: 20px;
            /*height: 900px;
            width: 400px;
            border-radius: 75px;*/
        }
    }
}

